@{
    var cols = (ViewData["ListColumns"] as IEnumerable<ListColumn>).OrEmptyIfNull();
    var hasModal = (ViewData["ModalTitle"] != null);
    var tableClass = "table mt-2";
    if (hasModal)
    {
        tableClass += " table-hover";
    }
}
<div class="row mt-2">
    <div class="d-flex flex-row">
        <button id="searchButton" class="btn btn-primary">
            <i class="bi bi-search"></i> 検索
        </button>
        <button id="clearButton" class="btn btn-primary ms-2">
            <i class="bi bi-eraser-fill"></i> クリア
        </button>
        @if (hasModal)
        {
            <button id="addNewButton" class="btn btn-primary ms-auto">
                <i class="bi bi-plus-circle"></i> 新規登録
            </button>
        }
    </div>
</div>
<table id="mainTable" class="@tableClass">
    <thead class="sticky-top bg-white">
        <tr class="border-bottom-0">
            <td colspan="@cols.Count()" class="px-0 pb-0 border-bottom-0">
                <div id="resultMessage" class="d-flex align-items-baseline"></div>
            </td>
        </tr>
        <tr id="tableHeader" class="d-none align-baseline">
            @foreach (var col in cols)
            {
                if (col.SortItem == null)
                {
                    <th>@col.Name</th>
                }
                else
                {
                    <th>@col.Name <button class="btn btn-sort" data-sort-item="@col.SortItem"><i class="bi bi-arrow-down-up"></i></button></th>
                }
            }
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>
<div id="tableLoading" class="text-center d-none">
    <div class="row">
        <div class="col">
            <div class="spinner-border text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <button id="cancelSearchButton" class="btn btn-primary d-none"><i class="bi bi-x-circle"></i> 中断</button>
        </div>
    </div>
</div>

<div id="scrollToTopButton" class="btn btn-primary btn-to-top d-none"><i class="bi bi-caret-up-fill"></i></div>

@if (hasModal)
{
    <div class="modal fade" id="detailModal" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailModalLabel">@ViewData["ModalTitle"]</h5>
                </div>
                <div class="modal-body">
                    <div id="modalBodyLoading" class="text-center">
                        <div class="spinner-border text-secondary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div id="modalBodyContent">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="closeModalButton" type="button" class="btn btn-primary"><i class="bi bi-x-lg"></i> 閉じる</button>
                    <button id="saveButton" type="button" class="btn btn-primary"><i class="bi bi-save" disabled></i> 保存</button>
                </div>
            </div>
        </div>
    </div>
}
